<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style-main.css') }}">

</head>
<body>
 <nav>
            <ul>
                <li><a href="/">Главная</a></li>
            </ul>
        </nav>
    <h1>Свяжитесь с нами</h1>
    <div class="contact-info">
        <p>📧 Email: <a href="mailto:info@realmadridfans.ru">info@realmadridfans.ru</a></p>
        <p>📱 Telegram: <a href="https://t.me/realmadridfans" target="_blank">@realmadridfans</a></p>
        <p>🌐 VK: <a href="https://vk.com/realmadridfans" target="_blank">vk.com/realmadridfans</a></p>
    </div>
</body>
</html>