<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Новости о "Реале"</title>
    <link rel="stylesheet" href="css/style.css">


</head>
<body>
    <header>
        <h1>Интервью тренеров и игроков "Реал Мадрид"</h1>
        <nav>
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li><a href="news.html">Новостные заметки</a></li>
                <li><a href="interviews.html">Интервью</a></li>
                <li><a href="rewards.html">Достижения</a></li>
                <li><a href="appointments.html">Назначения</a></li>
                <li><a href="anniversaries.html">Памятные даты</a></li>
            </ul>
        </nav>
    </header>

    <main>

        <article class="post">
            <h3 class="post-title">Первое интервью Дина Хёйсена в качестве футболиста "Реал Мадрид"</h3>
            <p class="post-meta">
                Опубликовано 10.06.2025 в 14:30
            </p>
            <div class="post-content">
                <p>
                "Это лучший день в моей жизни. Мечта стала реальностью.
                Я взял 24-й номер, потому что он был свободен. Для меня счастье носить любой номер в этом клубе.
                Я здесь, чтобы выигрывать титулы. Я хочу выиграть всё. У меня есть амбиции.
                Несколько игроков «Мадрида» уже написали мне, это хорошая команда с отличными людьми.
                Не могу дождаться встречи с ними".
                </p>
                <p>
                    <a href="din_interview.html">Подробнее</a>
                </p>
            </div>
            <div class="tags">
                <a href="">
                <span class="tag tag-interview">интервью</span>
                    </a>
            </div>
        </article>

    </main>