<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Новости о "Реале"</title>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <header>
        <h1>Памятные даты "Реал Мадрид"</h1>
        <nav>
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li><a href="news.html">Новостные заметки</a></li>
                <li><a href="interviews.html">Интервью</a></li>
                <li><a href="rewards.html">Достижения</a></li>
                <li><a href="appointments.html">Назначения</a></li>
                <li><a href="anniversaries.html">Памятные даты</a></li>
            </ul>
        </nav>
    </header>

    <main>
                <article class="post">
            <h3 class="post-title">Карло Анчелотти — 66</h3>
            <p class="post-meta">
                Опубликовано 09.06.2025 в 08:00
            </p>
            <div class="post-content">
                <p>
                    Сегодня исполнилось 66 лет одному из величайших тренеров в истории футбола и легенде «Мадрида» —
                    великому Карло Анчелотти!
                    Итальянец — самый титулованный тренер в истории «Мадрида»: он завоевал 15 трофеев.
                </p>
            </div>
            <div class="tags">
                <a href="">
                <span class="tag tag-anniversary">праздничная дата</span>
                    </a>
            </div>
        </article>


    </main>