<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Новости о "Реале"</title>
    <link rel="stylesheet" href="css/style.css">

<body>
<nav>
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li><a href="news.html">Новостные заметки</a></li>
                <li><a href="interviews.html">Интервью</a></li>
                <li><a href="rewards.html">Достижения</a></li>
                <li><a href="appointments.html">Назначения</a></li>
                <li><a href="anniversaries.html">Памятные даты</a></li>
            </ul>
        </nav>

    <article class="post">
        <h3 class="post-title">Первое интервью Дина Хёйсена в качестве футболиста "Реал Мадрид"</h3>
        <img src="images/heysen.png" alt="Дин Хёйсен в Реал Мадрид" class="post-image" />
        <p class="post-meta">
                Опубликовано 10.06.2025 в 14:30
        </p>
        <div class="post-content">
            <p>
                "Это лучший день в моей жизни. Мечта стала реальностью.
                Я взял 24-й номер, потому что он был свободен. Для меня счастье носить любой номер в этом клубе.
                Я здесь, чтобы выигрывать титулы. Я хочу выиграть всё. У меня есть амбиции.
                Несколько игроков «Мадрида» уже написали мне, это хорошая команда с отличными людьми.
                Не могу дождаться встречи с ними.
            </p>
            <p>
                Серхио Рамос? Он написал мне, когда мой трансфер был официально объявлен. Он мой главный кумир, самый лучший центральный защитник из всех.
                Серхио Рамос забил в финале Лиги Чемпионов «Атлетико» когда мне было 9 лет, Десима — мое первое воспоминание.
                </p>
            <p>
                Моуринью и работа с ним в «Роме»? Он позвонил мне, я ему навечно благодарен. Он один из лучших тренеров в истории футбола.
                Что я могу улучшить в своей игре? Всё. Я стараюсь совершенствоваться каждый день".
            </p>

        </div>
        <div class="tags">
            <a href=""><span class="tag tag-interview">интервью</span>
            </a>
        </div>
    </article>
</body>