<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Новости о "Реале"</title>
    <link rel="stylesheet" href="css/style.css">

<body>
    <nav>
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li><a href="news.html">Новостные заметки</a></li>
                <li><a href="interviews.html">Интервью</a></li>
                <li><a href="rewards.html">Достижения</a></li>
                <li><a href="appointments.html">Назначения</a></li>
                <li><a href="anniversaries.html">Памятные даты</a></li>
            </ul>
        </nav>

    <article class="post">
            <h3 class="post-title">Килиан Мбаппе — обладатель Золотой Бутсы сезона 2024/25!</h3>
            <img src="images/mbappe.png" alt="Килиан Мбаппе с золотой бутсой" class="post-image" />
            <p class="post-meta">
                Опубликовано 24.05.2025 в 19:50
            </p>
            <div class="post-content">
                <p>
                    Нападающий "Реала" в 7-й раз стал лучшим бомбардиром чемпионата — 6 раз в Лиге 1 и в первый раз в Ла Лиге.
                    Мбаппе становился лучшим бомбардиром Лиги Чемпионов 2023/24 и Чемпионата Мира-2022.
                </p>
                <p>
                    Также нападающий был признан лучшим игроком "Реала" в сезоне-2023/24.
                </p>
                <p>
                    Кроме того, нападающий стал лучшим ассистентом в истории сборной Франции и записал на свой счет 50
                    голов за сборную.
                </p>


</body>