<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Новости о "Реале"</title>
    <link rel="stylesheet" href="css/style.css">

<body>
<nav>
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li><a href="news.html">Новостные заметки</a></li>
                <li><a href="interviews.html">Интервью</a></li>
                <li><a href="rewards.html">Достижения</a></li>
                <li><a href="appointments.html">Назначения</a></li>
                <li><a href="anniversaries.html">Памятные даты</a></li>
            </ul>
        </nav>


        <article class="post">
            <h3 class="post-title">Лука Модрич стал самым возрастным автором гола в квалификации на Евро</h3>
            <img src="images/modric.png" alt="Лука Модрич забил за сборную Хорватии" class="post-image" />
            <p class="post-meta">
                Опубликовано 08.06.2025 в 23:55
            </p>
            <div class="post-content">
                <p>
                    Футболист "Реал Мадрид" Лука Модрич (39 лет и 9 месяцев) стал самым возрастным автором гола
                    в истории отборочных матчей чемпионата мира среди сборных Европы.
                    Предыдущий рекорд принадлежал Эдину Джеко (39 лет и 2 месяца).
                </p>
                <p>
                    Модрич забил в матче против сборной Чехии, а также отдал голевую передачу.
                </p>

            </div>
            <div class="tags">
                <a href="">
                <span class="tag tag-news">новости</span>
                    </a>
                <a href="">
                <span class="tag tag-reward">достижение</span>
                    </a>
            </div>
        </article>

</body>