<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Новости о "Реале"</title>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <header>
        <h1>Новостные заметки о футбольном клубе "Реал Мадрид"</h1>
        <nav>
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li><a href="news.html">Новостные заметки</a></li>
                <li><a href="interviews.html">Интервью</a></li>
                <li><a href="rewards.html">Достижения</a></li>
                <li><a href="appointments.html">Назначения</a></li>
                <li><a href="anniversaries.html">Памятные даты</a></li>
            </ul>
        </nav>
    </header>

    <main>

        <article class="post">
            <h3 class="post-title">Лука Модрич стал самым возрастным автором гола в квалификации на Евро</h3>
            <p class="post-meta">
                Опубликовано 08.06.2025 в 23:55
            </p>
            <div class="post-content">
                <p>
                    Футболист "Реал Мадрид" Лука Модрич (39 лет и 9 месяцев) стал самым возрастным автором гола
                    в истории отборочных матчей чемпионата мира среди сборных Европы.
                    Предыдущий рекорд принадлежал Эдину Джеко (39 лет и 2 месяца).
                </p>
            </div>
            <div class="tags">
                <a href="">
                <span class="tag tag-news">новости</span>
                    </a>
                <a href="">
                <span class="tag tag-reward">достижение</span>
                    </a>
            </div>
        </article>

        <article class="post">
            <h3 class="post-title">Хаби Алонсо — новый главный тренер "Реал Мадрид"</h3>
            <p class="post-meta">
                Опубликовано 25.05.2025 в 13:00
            </p>
            <div class="post-content">
                <p>
                    Хаби Алонсо подпишет контракт с «Мадридом» сроком до 2028 года.
                </p>
            </div>
            <div class="tags">
                <a href="">
                <span class="tag tag-appointment">назначение</span>
                    </a>
                <a href="">
                <span class="tag tag-news">новости</span>
                    </a>
            </div>
        </article>

        <article class="post">
            <h3 class="post-title">Килиан Мбаппе — обладатель Золотой Бутсы сезона 2024/25!</h3>
            <p class="post-meta">
                Опубликовано 24.05.2025 в 19:50
            </p>
            <div class="post-content">
                <p>
                    Нападающий "Реала" в 7-й раз стал лучшим бомбардиром чемпионата — 6 раз в Лиге 1 и в первый раз в Ла Лиге.
                    Мбаппе становился лучшим бомбардиром Лиги Чемпионов 2023/24 и Чемпионата Мира-2022.
                </p>
            </div>
            <div class="tags">
                <a href="">
                <span class="tag tag-reward">достижение</span>
                    </a>
                <a href="">
                <span class="tag tag-news">новости</span>
                    </a>
            </div>
        </article>
    </main>

    <footer>
        <p>
            2025. Новостной блог о футбольном клубе "Реал Мадрид". Все права защищены.
        </p>
    </footer>

</body>
</html>


